@model MuseoRecord_v1.Models.Estructura

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Estructura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipoAtributo.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoAtributo.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoPieza.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoPieza.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Orden)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Orden)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EstructuraID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
