@model IEnumerable<MuseoRecord_v1.Models.Pieza>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Obra.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoPieza.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Matricula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MatriculaTecnica)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Obra.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoPieza.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Matricula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MatriculaTecnica)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PiezaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PiezaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PiezaID })
        </td>
    </tr>
}

</table>
